* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

/*-------mixins of the media--------*/
/*-------end of the mixins of the media--------*/
/*-------mixins of the media--------*/
/*-------end of the mixins of the media--------*/
/*-------mixins of the media--------*/
/*-------end of the mixins of the media--------*/
/*-------mixins of the media--------*/
/*-------end of the mixins of the media--------*/
/*-----Variables of the mixin btns-----*/
/*----------mixin btns--------------------*/
/*----------end of the mixin btns--------------------*/
/*----------the mixin _mix_footer--------------------*/
/*----------end of the mixin _mix_footer--------------------*/
/*
$width_page: 90vw;
$height_header: 12.7vh;
$height_footer: 12vh;
$height_footer_mob: 10vh;
$height_main: calc(100vh - 12.7vh - 12vh - 0.3vh);
$width_nav: 20vw;
//$height_nav: 50vh;
$height_nav: $height_main;
$width_main_content: calc(80vw - 20vw - 0.2vw);
*/
body {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url("../img/bg_page2.jpg") 50%/contain repeat-x fixed; }

.page {
  width: 80vw;
  height: 100vh;
  background-color: #000; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .page {
      width: 100vw; } }
  @media only screen and (min-width: 580px) and (max-width: 767px) {
    .page {
      width: 100vw; } }
  @media only screen and (max-width: 579px) {
    .page {
      width: 100vw; } }

.header .wrapper_header {
  width: 100%;
  height: 12.7vh;
  color: #fff;
  background-color: #000; }
  @media only screen and (min-width: 580px) and (max-width: 767px) {
    .header .wrapper_header {
      height: 11vh; } }
  @media only screen and (max-width: 579px) {
    .header .wrapper_header {
      height: 9vh; } }
.header .wrapper_burger {
  display: none; }
  @media only screen and (max-width: 579px) {
    .header .wrapper_burger {
      display: block;
      position: fixed;
      top: 1.7vh;
      right: calc((100vw - 80vw) / 2 - 8.1vw); }
      .header .wrapper_burger #burger {
        display: block;
        width: 32px;
        height: 27px;
        margin-right: 2vw;
        margin-top: 1.0vh;
        cursor: pointer;
        position: relative;
        background-color: #000; }
      .header .wrapper_burger .burger_line {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 0;
        transition: .5s all linear; }
      .header .wrapper_burger .burger_line_first {
        top: 0; }
      .header .wrapper_burger .burger_line_second,
      .header .wrapper_burger .burger_line_third {
        top: 50%;
        transform: translateY(-50%); }
      .header .wrapper_burger .burger_line_fourth {
        bottom: 0; }
      .header .wrapper_burger .burger_active .burger_line_first,
      .header .wrapper_burger .burger_active .burger_line_fourth {
        opacity: 0; }
      .header .wrapper_burger .burger_active .burger_line_second {
        transform: translateY(-50%) rotate(45deg); }
      .header .wrapper_burger .burger_active .burger_line_third {
        transform: translateY(-50%) rotate(-45deg); } }
.header .top_block {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center; }
.header .logo {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.5vh;
  left: calc((100vw - 80vw) / 2 + 1.7vw);
  width: 10vw;
  height: 12.7vh; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header .logo {
      left: calc((100vw - 80vw) / 2 - 6.7vw); } }
  @media only screen and (min-width: 580px) and (max-width: 767px) {
    .header .logo {
      left: calc((100vw - 80vw) / 2 - 8.1vw);
      width: 12vw; } }
  @media only screen and (max-width: 579px) {
    .header .logo {
      left: calc((100vw - 80vw) / 2 - 8.1vw);
      width: 12vw;
      height: 9vh; } }
.header .logo img {
  width: 100%;
  height: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 1vh 0.0vw 1vh 0.0vw; }
.header .name_site {
  font-family: 'Segoe Script';
  font-size: 3.4vh;
  padding: 0.8% 2% 0.8% 2%;
  border: 2px solid #fff;
  border-radius: 0.9em;
  background-color: #361d1d; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header .name_site {
      font-size: 3.2vh; } }
  @media only screen and (min-width: 580px) and (max-width: 767px) {
    .header .name_site {
      font-size: 2.8vh; } }
  @media only screen and (max-width: 579px) {
    .header .name_site {
      margin-top: 1.5vh;
      font-size: 2.5vh; } }
.header .quote {
  position: fixed;
  top: 2.4vh;
  right: calc((100vw - 80vw) / 2 + 1.7vw);
  font-family: Cambria;
  font-style: italic;
  font-size: 2.2vh;
  line-height: 3.0vh; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header .quote {
      top: 2.0vh;
      right: calc((100vw - 80vw) / 2 - 6.7vw);
      font-size: 2.0vh;
      line-height: 2.8vh; } }
  @media only screen and (min-width: 580px) and (max-width: 767px) {
    .header .quote {
      right: calc((100vw - 80vw) / 2 - 8.1vw);
      font-size: 1.6vh;
      line-height: 2.0vh; } }
  @media only screen and (max-width: 579px) {
    .header .quote {
      display: none; } }
.header .about_pr {
  margin-top: 1vh;
  font-size: 2.6vh;
  letter-spacing: 1.0vw;
  text-align: center; }
  @media only screen and (min-width: 580px) and (max-width: 767px) {
    .header .about_pr {
      margin-top: 0.7vh;
      font-size: 2.3vh; } }
  @media only screen and (max-width: 579px) {
    .header .about_pr {
      margin-top: 0.8vh;
      font-size: 2.0vh; } }

.main {
  width: 100%;
  height: calc(100vh - 12.7vh - 12vh - 0.3vh);
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 580px) and (max-width: 767px) {
    .main {
      height: calc(calc(100vh - 12.7vh - 12vh - 0.3vh) + 2vh); } }
  @media only screen and (max-width: 579px) {
    .main {
      height: calc(calc(100vh - 12.7vh - 12vh - 0.3vh) + 5.7vh); } }

.wrapper_main {
  width: 98%;
  height: 96%;
  display: flex;
  justify-content: space-between;
  border-radius: 1.3em;
  background: url("../img/img-main/grey_monitor.png") 50% 50%/100% 100% no-repeat; }
  @media only screen and (max-width: 579px) {
    .wrapper_main {
      background: none; } }

.wrapper_menu_main {
  display: none; }
  @media only screen and (max-width: 579px) {
    .wrapper_menu_main {
      display: block; }
      .wrapper_menu_main #menu_main {
        position: fixed;
        top: 100px;
        left: -310px;
        width: 220px;
        height: 320px;
        background-color: #100479;
        border: 1px solid #fff;
        border-radius: 0.8em;
        transition: linear 1s; }
      .wrapper_menu_main .menu {
        display: block; }
      .wrapper_menu_main .item_menu {
        font-family: 'Courier New', Courier, monospace;
        font-size: 3vh;
        font-weight: 500;
        text-align: center;
        margin-top: 12px;
        box-sizing: border-box;
        padding-bottom: 8px; }
      .wrapper_menu_main .item_menu h2 {
        font-size: 3.5vh;
        letter-spacing: 1.8vw;
        text-decoration: underline;
        margin-top: 4vh;
        font-weight: 600;
        color: #fff; }
      .wrapper_menu_main .item_menu a {
        color: #fff; }
      .wrapper_menu_main .item_menu a:hover {
        color: #0f0; }
      .wrapper_menu_main #menu_main.open {
        left: 9.0vw;
        transition: linear 1s; } }

.nav {
  /*
  .icons {
    //  display: flex;
    //  justify-content: space-between;
    //  align-items: flex-end;
        border: 2px solid #361d1d;
  }
  */ }
  .nav .wrapper_nav {
    width: 20vw;
    height: 66vh;
    margin-top: 1.9vh;
    margin-left: 0.8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .nav .catalog {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    box-sizing: border-box;
    border-radius: 0.6em;
    background-color: #afb9a9;
    box-shadow: inset 0.1em 0.1em 0.6em 0.1em rgba(0, 0, 0, 0.8), inset -0.1em -0.1em 0.5em 0.1em rgba(0, 0, 0, 0.7); }
  .nav .catalog h3 {
    text-align: center;
    font-size: 2.1vw;
    line-height: 1.0em;
    box-sizing: border-box;
    margin: 12% 4% 12% 4%; }
  .nav .catalog h2 {
    font-size: 2.2vw;
    line-height: 1.0em;
    box-sizing: border-box;
    text-align: center;
    margin: 15% 4% 12% 4%; }
  .nav .catalog a {
    color: #000; }
  .nav .catalog a:hover {
    color: blueviolet; }
  .nav .icons img {
    width: 17%;
    height: auto; }
  .nav .logo-fb {
    margin-left: 12%; }
  .nav .logo-vk {
    margin-left: 42%; }
  @media only screen and (max-width: 579px) {
    .nav {
      display: none; } }

.main_content .wrapper_main_content {
  width: calc(80vw - 20vw - 3.8vw);
  height: 66vh;
  margin-right: 0.8vw;
  margin-top: 1.9vh;
  border-radius: 1.0em;
  background: url("../img/img-main/bg_main_1.jpg") 50% 50%/100% 100% no-repeat;
  box-shadow: inset 0.1em 0.1em 0.6em 0.1em rgba(0, 0, 0, 0.8), inset -0.1em -0.1em 0.5em 0.1em rgba(0, 0, 0, 0.7); }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main_content .wrapper_main_content {
      width: calc(80vw - 20vw + 15.5vw); } }
  @media only screen and (min-width: 580px) and (max-width: 767px) {
    .main_content .wrapper_main_content {
      width: calc(80vw - 20vw + 15.5vw); } }
  @media only screen and (max-width: 579px) {
    .main_content .wrapper_main_content {
      margin-top: 0.0vh;
      width: 98vw;
      height: 79.0vh;
      background: none;
      border: 1px solid #fff;
      background-color: #006; } }

.footer .wrapper_footer {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url("../img/img-footer/bgfooter1.png") 50%/100% 100% no-repeat; }
  @media only screen and (max-width: 579px) {
    .footer .wrapper_footer {
      height: 10vh;
      background: none;
      background-color: #000; } }
.footer .wrapper_footer a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5vh;
  font-style: italic;
  font-weight: 600;
  color: #000; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer .wrapper_footer a {
      font-size: 1.9vh; } }
  @media only screen and (min-width: 580px) and (max-width: 767px) {
    .footer .wrapper_footer a {
      font-size: 1.9vh; } }
  @media only screen and (max-width: 579px) {
    .footer .wrapper_footer a {
      font-size: 1.9vh; } }
.footer .main_but {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 2.5vh;
  font-weight: 400;
  display: block;
  margin-top: 1.3%;
  padding: 1.9% 2.1% 2.2% 2.1%;
  background: url("../img/img-footer/btn_main.png") 50%/100% 100% no-repeat;
  border: none;
  border-radius: 1.9em; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer .main_but {
      font-size: 2.1vh; } }
  @media only screen and (min-width: 580px) and (max-width: 767px) {
    .footer .main_but {
      font-size: 2.1vh; } }
  @media only screen and (max-width: 579px) {
    .footer .main_but {
      display: block;
      margin-top: 1.3%;
      padding: 0.8% 2.1% 2.2% 2.1%;
      background: none;
      border: 2px solid #fff;
      border-radius: 1.9em; } }
@media only screen and (max-width: 579px) {
  .footer .main_but a {
    color: #fff; } }
.footer .git_but,
.footer .contact_but {
  display: block;
  margin-top: -0.25%;
  padding: 1.2% 1.9% 1.4% 1.9%;
  background: url("../img/img-footer/btn_all.png") 50%/100% 100% no-repeat;
  border: none;
  border-radius: 1.9em; }
.footer .zen_but,
.footer .info_but {
  display: block;
  margin-top: 0.9%;
  padding: 1.2% 1.9% 1.4% 1.9%;
  background: url("../img/img-footer/btn_all.png") 50%/100% 100% no-repeat;
  border: none;
  border-radius: 1.9em; }
@media only screen and (max-width: 579px) {
  .footer .git_but,
  .footer .info_but {
    display: none;
    margin-top: 1.3%;
    padding: 1.9% 2.1% 2.2% 2.1%;
    background: url("../img/img-footer/btn_main.png") 50%/100% 100% no-repeat;
    border: none;
    border-radius: 1.9em; } }
@media only screen and (max-width: 579px) {
  .footer .zen_but,
  .footer .contact_but {
    display: none;
    margin-top: 1.3%;
    padding: 0.8% 1.3% 0.8% 1.3%;
    background: none;
    border: none;
    border-radius: 1.9em;
    background-color: #fff; } }
.footer .copyright {
  position: fixed;
  right: 1vw;
  bottom: 0.8vh; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer .copyright {
      right: 12vw;
      bottom: 1.4vh; } }
  @media only screen and (min-width: 580px) and (max-width: 767px) {
    .footer .copyright {
      right: 12vw;
      bottom: 1.2vh; } }
  @media only screen and (max-width: 579px) {
    .footer .copyright {
      right: 2vw;
      bottom: 0.8vh; } }
.footer .copyright a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #fff; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer .copyright a {
      font-size: 0.9em;
      color: #000; } }
  @media only screen and (min-width: 580px) and (max-width: 767px) {
    .footer .copyright a {
      font-size: 0.8em;
      color: #000; } }
  @media only screen and (max-width: 579px) {
    .footer .copyright a {
      right: 2vw;
      bottom: 0.8vh;
      font-size: 0.6em;
      color: #fff; } }
.footer .copyright a:hover {
  color: brown; }
.footer .last_article_mob {
  display: none; }
.footer .catalog_articles_mob {
  display: none; }
@media only screen and (max-width: 579px) {
  .footer .last_article_mob,
  .footer .catalog_articles_mob {
    display: block;
    margin-top: 0.2%;
    padding: 0.5% 2.3% 0.5% 2.3%;
    background: none;
    border: 2px solid #fff;
    border-radius: 1.9em;
    background-color: #fff;
    line-height: 0.85em;
    text-align: center;
    border-radius: 1.2em; } }

.wrapper_main_content {
  overflow-y: scroll; }

.catalog_articles {
  box-sizing: border-box;
  padding: 1.5%;
  margin-left: 1vw; }

.catalog_articles h1 {
  margin-top: 0.2vh;
  margin-bottom: 0.2vh;
  font-size: 3.0vh;
  font-weight: 600;
  text-align: center; }
  @media only screen and (max-width: 579px) {
    .catalog_articles h1 {
      color: #fff; } }

@media only screen and (max-width: 579px) {
  .catalog_articles li {
    margin-top: 1.4vh; } }

.catalog_articles a {
  margin-top: 1.4vh;
  margin-left: 3vw;
  margin-bottom: 1.5vh;
  font-size: 2.5vh;
  font-weight: 600;
  font-style: italic;
  color: #000; }
  @media only screen and (max-width: 579px) {
    .catalog_articles a {
      color: #fff;
      font-style: italic;
      margin-top: 1.4vh;
      margin-left: 4vw;
      margin-bottom: 1.5vh; } }

.catalog_articles p {
  font-size: 2.2vh;
  font-weight: 400;
  line-height: 1.0em;
  margin-top: 0.3vh;
  margin-bottom: 0.8vh;
  color: #000; }
  @media only screen and (max-width: 579px) {
    .catalog_articles p {
      color: #fff;
      line-height: 1.3em;
      margin-top: 0.8vh; } }
