* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------mixins of the media--------*/
/*-------end of the mixins of the media--------*/
/*-------mixins of the media--------*/
/*-------end of the mixins of the media--------*/
/*-------mixins of the media--------*/
/*-------end of the mixins of the media--------*/
/*-------mixins of the media--------*/
/*-------end of the mixins of the media--------*/
/*-----Variables of the mixin btns-----*/
/*----------mixin btns--------------------*/
/*----------end of the mixin btns--------------------*/
/*----------the mixin _mix_footer--------------------*/
/*----------end of the mixin _mix_footer--------------------*/
/*
$width_page: 90vw;
$height_header: 12.7vh;
$height_footer: 12vh;
$height_footer_mob: 10vh;
$height_main: calc(100vh - 12.7vh - 12vh - 0.3vh);
$width_nav: 20vw;
//$height_nav: 50vh;
$height_nav: $height_main;
$width_main_content: calc(80vw - 20vw - 0.2vw);
*/
body {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url("../img/bg_page2.jpg") 50%/contain repeat-x fixed;
}

.page {
  width: 80vw;
  height: 100vh;
  background-color: #000;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .page {
    width: 100vw;
  }
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .page {
    width: 100vw;
  }
}
@media only screen and (max-width: 579px) {
  .page {
    width: 100vw;
  }
}

.header .wrapper_header {
  width: 100%;
  height: 12.7vh;
  color: #fff;
  background-color: #000;
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .header .wrapper_header {
    height: 11vh;
  }
}
@media only screen and (max-width: 579px) {
  .header .wrapper_header {
    height: 9vh;
  }
}
.header .wrapper_burger {
  display: none;
}
@media only screen and (max-width: 579px) {
  .header .wrapper_burger {
    display: block;
    position: fixed;
    top: 1.7vh;
    right: calc((100vw - 80vw) / 2 - 8.1vw);
  }
  .header .wrapper_burger #burger {
    display: block;
    width: 32px;
    height: 27px;
    margin-right: 2vw;
    margin-top: 1vh;
    cursor: pointer;
    position: relative;
    background-color: #000;
  }
  .header .wrapper_burger .burger_line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    transition: 0.5s all linear;
  }
  .header .wrapper_burger .burger_line_first {
    top: 0;
  }
  .header .wrapper_burger .burger_line_second,
.header .wrapper_burger .burger_line_third {
    top: 50%;
    transform: translateY(-50%);
  }
  .header .wrapper_burger .burger_line_fourth {
    bottom: 0;
  }
  .header .wrapper_burger .burger_active .burger_line_first,
.header .wrapper_burger .burger_active .burger_line_fourth {
    opacity: 0;
  }
  .header .wrapper_burger .burger_active .burger_line_second {
    transform: translateY(-50%) rotate(45deg);
  }
  .header .wrapper_burger .burger_active .burger_line_third {
    transform: translateY(-50%) rotate(-45deg);
  }
}
.header .top_block {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.5vh;
  left: calc((100vw - 80vw) / 2 + 1.7vw);
  width: 10vw;
  height: 12.7vh;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header .logo {
    left: calc((100vw - 80vw) / 2 - 6.7vw);
  }
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .header .logo {
    left: calc((100vw - 80vw) / 2 - 8.1vw);
    width: 12vw;
  }
}
@media only screen and (max-width: 579px) {
  .header .logo {
    left: calc((100vw - 80vw) / 2 - 8.1vw);
    width: 12vw;
    height: 9vh;
  }
}
.header .logo img {
  width: 100%;
  height: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 1vh 0vw 1vh 0vw;
}
.header .name_site {
  font-family: "Segoe Script";
  font-size: 3.4vh;
  padding: 0.8% 2% 0.8% 2%;
  border: 2px solid #fff;
  border-radius: 0.9em;
  background-color: #361d1d;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header .name_site {
    font-size: 3.2vh;
  }
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .header .name_site {
    font-size: 2.8vh;
  }
}
@media only screen and (max-width: 579px) {
  .header .name_site {
    margin-top: 1.5vh;
    font-size: 2.5vh;
  }
}
.header .quote {
  position: fixed;
  top: 2.4vh;
  right: calc((100vw - 80vw) / 2 + 1.7vw);
  font-family: Cambria;
  font-style: italic;
  font-size: 2.2vh;
  line-height: 3vh;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header .quote {
    top: 2vh;
    right: calc((100vw - 80vw) / 2 - 6.7vw);
    font-size: 2vh;
    line-height: 2.8vh;
  }
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .header .quote {
    right: calc((100vw - 80vw) / 2 - 8.1vw);
    font-size: 1.6vh;
    line-height: 2vh;
  }
}
@media only screen and (max-width: 579px) {
  .header .quote {
    display: none;
  }
}
.header .about_pr {
  margin-top: 1vh;
  font-size: 2.6vh;
  letter-spacing: 1vw;
  text-align: center;
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .header .about_pr {
    margin-top: 0.7vh;
    font-size: 2.3vh;
  }
}
@media only screen and (max-width: 579px) {
  .header .about_pr {
    margin-top: 0.8vh;
    font-size: 2vh;
  }
}

.main {
  width: 100%;
  height: calc(100vh - 12.7vh - 12vh - 0.3vh);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .main {
    height: calc(calc(100vh - 12.7vh - 12vh - 0.3vh) + 2vh);
  }
}
@media only screen and (max-width: 579px) {
  .main {
    height: calc(calc(100vh - 12.7vh - 12vh - 0.3vh) + 5.7vh);
  }
}

.wrapper_main {
  width: 98%;
  height: 96%;
  display: flex;
  justify-content: space-between;
  border-radius: 1.3em;
  background: url("../img/img-main/grey_monitor.png") 50% 50%/100% 100% no-repeat;
}
@media only screen and (max-width: 579px) {
  .wrapper_main {
    background: none;
  }
}

.wrapper_menu_main {
  display: none;
}
@media only screen and (max-width: 579px) {
  .wrapper_menu_main {
    display: block;
  }
  .wrapper_menu_main #menu_main {
    position: fixed;
    top: 100px;
    left: -310px;
    width: 220px;
    height: 320px;
    background-color: #100479;
    border: 1px solid #fff;
    border-radius: 0.8em;
    transition: linear 1s;
  }
  .wrapper_menu_main .menu {
    display: block;
  }
  .wrapper_menu_main .item_menu {
    font-family: "Courier New", Courier, monospace;
    font-size: 3vh;
    font-weight: 500;
    text-align: center;
    margin-top: 12px;
    box-sizing: border-box;
    padding-bottom: 8px;
  }
  .wrapper_menu_main .item_menu h2 {
    font-size: 3.5vh;
    letter-spacing: 1.8vw;
    text-decoration: underline;
    margin-top: 4vh;
    font-weight: 600;
    color: #fff;
  }
  .wrapper_menu_main .item_menu a {
    color: #fff;
  }
  .wrapper_menu_main .item_menu a:hover {
    color: #0f0;
  }
  .wrapper_menu_main #menu_main.open {
    left: 9vw;
    transition: linear 1s;
  }
}

.nav {
  /*
  .icons {
    //  display: flex;
    //  justify-content: space-between;
    //  align-items: flex-end;
        border: 2px solid #361d1d;
  }
  */
}
.nav .wrapper_nav {
  width: 20vw;
  height: 66vh;
  margin-top: 1.9vh;
  margin-left: 0.8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nav .catalog {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  box-sizing: border-box;
  border-radius: 0.6em;
  background-color: #afb9a9;
  box-shadow: inset 0.1em 0.1em 0.6em 0.1em rgba(0, 0, 0, 0.8), inset -0.1em -0.1em 0.5em 0.1em rgba(0, 0, 0, 0.7);
}
.nav .catalog h3 {
  text-align: center;
  font-size: 2.1vw;
  line-height: 1em;
  box-sizing: border-box;
  margin: 12% 4% 12% 4%;
}
.nav .catalog h2 {
  font-size: 2.2vw;
  line-height: 1em;
  box-sizing: border-box;
  text-align: center;
  margin: 15% 4% 12% 4%;
}
.nav .catalog a {
  color: #000;
}
.nav .catalog a:hover {
  color: blueviolet;
}
.nav .icons img {
  width: 17%;
  height: auto;
}
.nav .logo-fb {
  margin-left: 12%;
}
.nav .logo-vk {
  margin-left: 42%;
}
@media only screen and (max-width: 579px) {
  .nav {
    display: none;
  }
}

.main_content .wrapper_main_content {
  width: calc(80vw - 20vw - 3.8vw);
  height: 66vh;
  margin-right: 0.8vw;
  margin-top: 1.9vh;
  border-radius: 1em;
  background: url("../img/img-main/bg_main_1.jpg") 50% 50%/100% 100% no-repeat;
  box-shadow: inset 0.1em 0.1em 0.6em 0.1em rgba(0, 0, 0, 0.8), inset -0.1em -0.1em 0.5em 0.1em rgba(0, 0, 0, 0.7);
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main_content .wrapper_main_content {
    width: calc(80vw - 20vw + 15.5vw);
  }
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .main_content .wrapper_main_content {
    width: calc(80vw - 20vw + 15.5vw);
  }
}
@media only screen and (max-width: 579px) {
  .main_content .wrapper_main_content {
    margin-top: 0vh;
    width: 98vw;
    height: 79vh;
    background: none;
    border: 1px solid #fff;
    background-color: #006;
  }
}

.footer .wrapper_footer {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url("../img/img-footer/bgfooter1.png") 50%/100% 100% no-repeat;
}
@media only screen and (max-width: 579px) {
  .footer .wrapper_footer {
    height: 10vh;
    background: none;
    background-color: #000;
  }
}
.footer .wrapper_footer a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5vh;
  font-style: italic;
  font-weight: 600;
  color: #000;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .footer .wrapper_footer a {
    font-size: 1.9vh;
  }
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .footer .wrapper_footer a {
    font-size: 1.9vh;
  }
}
@media only screen and (max-width: 579px) {
  .footer .wrapper_footer a {
    font-size: 1.9vh;
  }
}
.footer .main_but {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 2.5vh;
  font-weight: 400;
  display: block;
  margin-top: 1.3%;
  padding: 1.9% 2.1% 2.2% 2.1%;
  background: url("../img/img-footer/btn_main.png") 50%/100% 100% no-repeat;
  border: none;
  border-radius: 1.9em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .footer .main_but {
    font-size: 2.1vh;
  }
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .footer .main_but {
    font-size: 2.1vh;
  }
}
@media only screen and (max-width: 579px) {
  .footer .main_but {
    display: block;
    margin-top: 1.3%;
    padding: 0.8% 2.1% 2.2% 2.1%;
    background: none;
    border: 2px solid #fff;
    border-radius: 1.9em;
  }
}
@media only screen and (max-width: 579px) {
  .footer .main_but a {
    color: #fff;
  }
}
.footer .git_but,
.footer .contact_but {
  display: block;
  margin-top: -0.25%;
  padding: 1.2% 1.9% 1.4% 1.9%;
  background: url("../img/img-footer/btn_all.png") 50%/100% 100% no-repeat;
  border: none;
  border-radius: 1.9em;
}
.footer .zen_but,
.footer .info_but {
  display: block;
  margin-top: 0.9%;
  padding: 1.2% 1.9% 1.4% 1.9%;
  background: url("../img/img-footer/btn_all.png") 50%/100% 100% no-repeat;
  border: none;
  border-radius: 1.9em;
}
@media only screen and (max-width: 579px) {
  .footer .git_but,
.footer .info_but {
    display: none;
    margin-top: 1.3%;
    padding: 1.9% 2.1% 2.2% 2.1%;
    background: url("../img/img-footer/btn_main.png") 50%/100% 100% no-repeat;
    border: none;
    border-radius: 1.9em;
  }
}
@media only screen and (max-width: 579px) {
  .footer .zen_but,
.footer .contact_but {
    display: none;
    margin-top: 1.3%;
    padding: 0.8% 1.3% 0.8% 1.3%;
    background: none;
    border: none;
    border-radius: 1.9em;
    background-color: #fff;
  }
}
.footer .copyright {
  position: fixed;
  right: 1vw;
  bottom: 0.8vh;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .footer .copyright {
    right: 12vw;
    bottom: 1.4vh;
  }
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .footer .copyright {
    right: 12vw;
    bottom: 1.2vh;
  }
}
@media only screen and (max-width: 579px) {
  .footer .copyright {
    right: 2vw;
    bottom: 0.8vh;
  }
}
.footer .copyright a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .footer .copyright a {
    font-size: 0.9em;
    color: #000;
  }
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .footer .copyright a {
    font-size: 0.8em;
    color: #000;
  }
}
@media only screen and (max-width: 579px) {
  .footer .copyright a {
    right: 2vw;
    bottom: 0.8vh;
    font-size: 0.6em;
    color: #fff;
  }
}
.footer .copyright a:hover {
  color: brown;
}
.footer .last_article_mob {
  display: none;
}
.footer .catalog_articles_mob {
  display: none;
}
@media only screen and (max-width: 579px) {
  .footer .last_article_mob,
.footer .catalog_articles_mob {
    display: block;
    margin-top: 0.2%;
    padding: 0.5% 2.3% 0.5% 2.3%;
    background: none;
    border: 2px solid #fff;
    border-radius: 1.9em;
    background-color: #fff;
    line-height: 0.85em;
    text-align: center;
    border-radius: 1.2em;
  }
}

.wrapper_main_content {
  overflow-y: scroll;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.article_title {
  position: fixed;
  top: 16.2vh;
  left: 32.2vw;
  width: 55vw;
  height: 7vh;
  border-top-left-radius: 1em;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .article_title {
    width: 74vw;
    left: 22.7vw;
  }
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .article_title {
    top: 14.8vh;
    left: 22.8vw;
    width: 73.5vw;
  }
}
@media only screen and (max-width: 579px) {
  .article_title {
    top: 11vh;
    left: 1.4vw;
    width: 97vw;
  }
}

.article_title h1 {
  font-size: 1.6em;
  font-style: italic;
  color: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .article_title h1 {
    font-size: 1.6em;
  }
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .article_title h1 {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 579px) {
  .article_title h1 {
    font-size: 1.3em;
    text-align: center;
  }
}

.wrapper_btn_big {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 17.8vh;
  right: 14vw;
  width: 3vw;
  height: 3.8vh;
  border: 1px solid #fff;
  border-radius: 0.3em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper_btn_big {
    right: 4.5vw;
  }
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .wrapper_btn_big {
    top: 16.5vh;
    right: 5.5vw;
  }
}
@media only screen and (max-width: 579px) {
  .wrapper_btn_big {
    display: none;
  }
}

.btn_big {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2vw;
  height: 1vw;
  border: 1px solid #fff;
  border-radius: 0.1em;
  background-color: #fff;
}

.btn_big_2 {
  width: 0.8vw;
  height: 0.5vw;
  border: 1px solid #000;
  border-radius: 0.1em;
  background-color: #000;
}

.articles_text {
  margin-top: 8.6vh;
}

.articles_text h2 {
  font-size: 1.8em;
  margin: 0.5em;
  font-weight: 600;
  margin-top: 2vh;
  text-align: center;
}
@media only screen and (max-width: 579px) {
  .articles_text h2 {
    font-size: 1.5em;
    color: #fff;
  }
}

.articles_text p {
  font-size: 1.4em;
  text-indent: 3.5vw;
  margin: 1.5vh 1.6vw 1.7vh 1.9vw;
  /*
      @include size_650_930 {

      }
      @include size_550_649 {

      }

      @include size_549 {
          display: block; 
         // width: 75%;
          //height: auto;
          //margin: 2.7vh auto;
          //border: 2px solid #000;
          //border-radius: 0.8em;
      }
  */
}
@media only screen and (max-width: 579px) {
  .articles_text p {
    font-size: 1.2em;
    font-weight: 100;
    line-height: 1.4em;
    color: #fff;
    text-indent: 7vw;
  }
}

.articles_text span {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  color: #5dd1ee;
  background-color: #000;
}

.img_art img {
  width: 25vw;
  height: auto;
  float: right;
  margin-bottom: 1.5vh;
  margin-right: 1.2vw;
  border: 2px solid #464646;
  border-radius: 1.2em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .img_art img {
    width: 36vw;
    margin-right: 1.6vw;
    margin-left: 1.6vw;
  }
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .img_art img {
    width: 36vw;
    margin-right: 1.6vw;
    margin-left: 1.6vw;
  }
}
@media only screen and (max-width: 579px) {
  .img_art img {
    width: 45vw;
    margin-right: 1.6vw;
    margin-left: 1.6vw;
    border-radius: 0.6em;
  }
}

.img_art_left img {
  width: 25vw;
  height: auto;
  float: left;
  margin-bottom: 1.5vh;
  margin-left: 1.2vw;
  margin-right: 1.2vw;
  border: 2px solid #464646;
  border-radius: 1.2em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .img_art_left img {
    width: 36vw;
    margin-right: 1.6vw;
    margin-left: 1.6vw;
  }
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .img_art_left img {
    width: 36vw;
    margin-right: 1.6vw;
    margin-left: 1.6vw;
  }
}
@media only screen and (max-width: 579px) {
  .img_art_left img {
    width: 45vw;
    margin-right: 1.6vw;
    margin-left: 1.6vw;
    border-radius: 0.6em;
  }
}

.img_code img {
  width: 52vw;
  height: auto;
  margin: 0vh 1vw;
  border-radius: 0.6em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .img_code img {
    width: 65vw;
    margin-left: 1.6vw;
  }
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .img_code img {
    width: 70vw;
    margin-left: 1.6vw;
  }
}
@media only screen and (max-width: 579px) {
  .img_code img {
    width: 92vw;
    margin-left: 1.6vw;
    border-radius: 0em;
    border: none;
  }
}

.img_full_scrin img {
  width: 50vw;
  height: auto;
  margin-left: 2.6vw;
  border: 2px solid #3654d8;
  border-radius: 1em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .img_full_scrin img {
    width: 70vw;
    margin: 0vh 2.6vw;
  }
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .img_full_scrin img {
    width: 70vw;
    margin: 0vh 2.6vw;
  }
}
@media only screen and (max-width: 579px) {
  .img_full_scrin img {
    width: 92vw;
    margin: 0vh 2.6vw;
  }
}

.code {
  font-size: 3vh;
  background-color: #000;
  padding-left: 2vw;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}

.time {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 0.6vh;
  margin-left: 48vw;
  margin-bottom: 2.7vh;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .time {
    margin-left: 65vw;
  }
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .time {
    margin-left: 64vw;
  }
}
@media only screen and (max-width: 579px) {
  .time {
    font-size: 1em;
    color: #fff;
    margin-left: 78vw;
  }
}

.h1_contacts {
  font-size: 1.7em;
  font-weight: 600;
  margin-top: 1.3em;
  text-align: center;
}

.wrapper_main_content ul {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1.5em;
  margin-left: 2em;
}

.item_contacts a {
  color: #000;
}

.about_author h1 {
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
  margin-top: 1.3em;
  margin-bottom: 0.5em;
}

.about_author p {
  font-size: 1.5em;
  line-height: 1.3em;
  text-indent: 2em;
  margin-bottom: 0.4em;
  margin-left: 2em;
  margin-right: 1.7em;
}
