//--------------mixins of the footer

/*-----Variables of the mixin btns-----*/
    
$btn-all: url("../img/btn_all.png") 50% / 100% 100% no-repeat;
$btn-main: url("../img/btn_main.png") 50% / 100% 100% no-repeat;
$marg-middle: 3.4%;
$marg-outside: 1.9%;

/*----------mixin btns--------------------*/
@mixin btns($vizibly,
$marg_top,
$btn) {
    //  border: 2px solid red;
    display: $vizibly;
    margin-top: $marg_top;
    padding: 1.5% 2.1% 1.7% 2.1%;
    //  background: url("../img/btn_all.png") 50% / 100% 100% no-repeat;
    background: $btn;
    // border-radius: 0.5em;
}

/*----------end of the mixin btns--------------------*/


//----------------mixin mix_footer---------------
@mixin mix_footer {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        @include size_549 {
            height: 10.0vh;
            background: none;
            background-color: #000;
        }
    }
    
    .footer_buttons {
        height: 14.5vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        justify-content: space-around;
        align-items: center;
        //border: 1px solid black;
    }
    
    .footer_buttons a {
        font-size: 1.2em;
        font-weight: 600;
        font-style: italic;
        color: #000;
        @include size_650_930 {
            font-size: 1.0em;
            font-weight: 600;
        }
        @include size_550_649 {
            font-size: 1.0em;
            font-weight: 600;
        }
        @include size_549 {
            font-size: 1.0em;
            font-weight: 600;
            //color: #000;
            
            //border: 2px solid #361d1d;
            //border-radius: 0.7em;
            
        }
    }
    
    
    .git_but {
        @include btns(block,
        $marg-outside,
        $btn-all);
        /*
        @include size_650_930 {
            display: block;
        }
        @include size_550_649 {
            display: block;
        }
        */
        @include size_549 {
            display: none;
        }
    }
    
    .zen_but {
        @include btns(block,
        $marg-middle,
        $btn-all);
        /*
        @include size_650_930 {
            display: none;
        }
        @include size_550_649 {
            display: none;
        }
         */
        @include size_549 {
            background: none;
            background-color: #fff;
            @include size_549 {
                background: none;
                background-color: #fff;
                margin-top: 0.9em;
                padding: 0.2em 0.5em 0.3em 0.5em;
                border-radius: 0.7em
                //border: 2px solid #361d1d;
                //border-radius: 0.7em;
            }
            border-radius: 0.7em
            //border: 2px solid #361d1d;
            //border-radius: 0.7em;
        }
       
    }
    
    .main_but {
        @include btns(block,
        4.3%,
        $btn-main);
        padding: 2.2% 2.8% 2.4% 2.8%;
        color: #fff;
        font-size: 1.4em;
        font-weight: 500;
        @include size_650_930 {
            font-size: 3.2vh;
        }
        @include size_550_649 {
            font-size: 3.2vh;
        }
        @include size_549 {
            font-size: 2.6vh;
            background: none;
            margin-top: 0.7em;
            padding: 0.2em 0.5em 0.5em 0.5em;
            border: 2px solid #fff;
            border-radius: 0.8em;
            background-color: #000;
        }
    }

    .main_but a {
        @include size_549 {
            color: #fff;
            //background-color: #000;
        }
    }
    
    .info_but {
        @include btns(block,
        $marg-middle,
        $btn-all);
        /*
        @include size_650_930 {
            display: block;
        }
        @include size_550_649 {
            display: block;
        }
         */
        @include size_549 {
            display: none;
        }
       
    }
    
    .contact_but {
        @include btns(block,
        $marg-outside,
        $btn-all);
        @include size_549 {
            background: none;
            background-color: #fff;
            margin-top: 0.9em;
            padding: 0.2em 0.5em 0.3em 0.5em;
            border-radius: 0.7em
            //border: 2px solid #361d1d;
            //border-radius: 0.7em;
        }
    }
    
    .copyright {
        font-size: 0.9em;
        margin-right: 20vw;
        align-self: flex-end;
    }
    
    .copyright a {
        color: #000;
    }
    
    .copyright a:hover {
        color: brown;
    }
    }
//---------------end mixin mix_footer-----------------